[include]
    path =  ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore
    editor = vim
    # Make tabs 8 chars wide
    pager = less -x8
[creo]
    autocrlf = true
[color]
    ui = auto
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    wt = worktree
    sm = send-email
    # Default output for patches + form cover letter from branch description
    fp = format-patch -o patches --cover-from-description=subject
    # Fancy short log
    lg = log --oneline -n10
    # Fancy tree log
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    # Skip cover letter emails
    am = am --empty=keep --allow-empty
    # Combine b4 and am into one git b4 command
    b4 = "!f() { b4 am -t -o - $1 | git am; }; f"
    # Shortcut for backporting in RH (/tmp file is used by hook)
    bp = "!echo $1 > /tmp/.git-backport-$(git rev-parse --abbrev-ref HEAD) && git cherry-pick -x $1"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[grep]
    lineNumber = true
[pull]
	rebase = true
